<mat-toolbar color="primary" class="mat-toolbar">
    <span>My Application</span>
    <span class="example-spacer"></span>

    <button mat-button><a href="/">Főoldal</a></button>
    <button mat-button><a href="/about">Rólunk</a></button>
    <button mat-button [matMenuTriggerFor]="menu1">Szolgáltatások</button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button><a href="/contact">Kapcsolat</a></button>

</mat-toolbar>

<mat-toolbar class="sidenav">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        [matMenuTriggerFor]="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
    <mat-menu #Menu="matMenu">
        <button mat-menu-item><a href="/">Főoldal</a></button>
        <button mat-menu-item><a href="/about">Rólunk</a></button>
        <button mat-menu-item [matMenuTriggerFor]="menu1">Szolgáltatások</button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button mat-menu-item><a href="/contact">Kapcsolat</a></button>
    </mat-menu>

</mat-toolbar>